.pre {
  height: 200px;
  overflow: auto;
  padding: 0 16px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background-color: #f7f7f7;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.run {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.console {
  height: 200px;
  overflow: auto;
  border-radius: 6px;
  background-color: #323232;
  color: #ccc;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.console li {
  padding: 0 16px;
  border-bottom: 1px solid #666;
}
