.scout {
  background-color: #fff;
  border-radius: 6px;
}

.scout tr {
  animation: new 1s ease-out;
}
.scout .summary {
  padding-left: 20px;
}
.scout .ant-pagination {
  margin-right: 16px;
}

@keyframes new {
  from { background: #faf4b2 }
  to { background: #fff }
}

.icon {
  text-align: center;
  font-size: 1.25em;
  position: relative;
}

td.Apdex {
  font-weight: bold;
  font-size: 1.5em;
}
.ApdexTarget {
  font-weight: normal;
  font-size: 12px;
  color: #999;
}

.firstline {
  display: flex;
  align-items: flex-end;
}

.firstline .name {
  margin-right: 8px;
  font-size: 16px;
}
.firstline .ant-tag {
  margin-top: 0;
  margin-bottom: 0;
}

.longtext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
