.bar {
  overflow: hidden;
  height: 50px;
  background-color: #f3f3f3;
  width: 6px;
  border-radius: 3px;
  padding: 3px 0;
  margin: 0 1px;
  transition: box-shadow .2s, opacity .2s;
  display: inline-block;
  box-sizing: content-box;

  &:hover {
    box-shadow: 0 0 2px #108EE9;
  }
  > div {
    position: relative;
    height: 100%;
    > div {
      border-radius: 3px;
      padding: 3px 0;
      margin: -3px 0;
      position: absolute;
      bottom: 0;
      box-sizing: content-box;
      transition: background-color .2s, height .2s;
      width: 100%;
    }
  }
}

.default {
  color: #999;
}
