.bar:hover {
  fill: brown;
}

.axisx path {
  display: none;
}

.health {
  padding-bottom: 80px;
  text-align: center;
}

.tip {
  background-color: rgba(64,64,64,.85);
  color: #fff;
  padding: 8px 10px;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
  min-height: 34px;
}

.default {
  color: #989898;
}

.arrow {
  left: 50%;
  margin-left: -5px;
  bottom: -5px;
  border-width: 5px 5px 0;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: rgba(64,64,64,.85);
}
