.alerturldetail {
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 32px;

  pre {
    margin-bottom: 16px;
    word-break: break-all;
    white-space: pre-wrap;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .row {
    flex-wrap: nowrap;
    button {
      margin-left: 16px;
    }
  }
}
