.settings {
  padding: 80px 0;
  max-width: 720px;
  margin: 0 auto;
}

.alerturldetail {
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 32px;
  p {
    margin-bottom: 16px;
  }
  .row {
    flex-wrap: nowrap;
    button {
      margin-left: 16px;
    }
  }
  .body {
    white-space: pre;
  }
}
