.settings {
  max-width: 720px;
  margin: 80px auto 0;
}

.alerturldetail {
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 32px;
}

.alerturldetail p {
  margin-bottom: 16px;
}

.alerturldetail .row {
  flex-wrap: nowrap;
}

.alerturldetail .row button {
  margin-left: 16px;
}

.alerturldetail .body {
  white-space: pre;
}
